# Canonical author spellings and real emails for GitHub contribution attribution.
# https://git-scm.com/docs/gitmailmap
UwizeyeMagnifique <uwizeyemagnifique@gmail.com> UwiizeyeMagnifique <uwizeyemagnifique@gmail.com>
Welvarine <guwera04@gmail.com> Welvarine <Welvarine182754559+Welvarine@users.noreply.github.com>
Belise201 <inezabelyse984@gmail.com> Belise201 <Belise201191963151+Belise201@users.noreply.github.com>
lington-123 <shemapato100@gmail.com> lington-123 <lington-123181227239+lington-123@users.noreply.github.com>
Raissa427 <numubyeyiirumvaraissa@gmail.com> Raissa427 <Raissa427183736564+Raissa427@users.noreply.github.com>
